ACCOUNT_SERVICE_PORT=3001
TRANSFER_SERVICE_PORT=3002
LEDGER_SERVICE_PORT=3003
FRAUD_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005
ACCOUNT_SERVICE_URL=http://account-service:3001
TRANSFER_SERVICE_URL=http://transfer-service:3002
LEDGER_SERVICE_URL=http://ledger-service:3003
FRAUD_SERVICE_URL=http://fraud-service:3004
NOTIFICATION_SERVICE_URL=http://notification-service:3005
KAFKA_BROKERS=kafka:29092
KAFKA_CLIENT_ID=cn-banking-platform
KAFKA_GROUP_ID_PREFIX=cn-banking
KAFKA_TOPIC_ACCOUNT_CREATED=bank.account.created
KAFKA_TOPIC_TRANSFER_INITIATED=bank.transfer.initiated
KAFKA_TOPIC_TRANSFER_COMPLETED=bank.transfer.completed
KAFKA_TOPIC_TRANSFER_FAILED=bank.transfer.failed
KAFKA_TOPIC_FRAUD_ALERT=bank.fraud.alert
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DB_NAME=banking_events

ACCOUNTS_DB_HOST=postgres-accounts
ACCOUNTS_DB_PORT=5432
ACCOUNTS_DB_HOST_PORT=5433
ACCOUNTS_DB_NAME=accounts_db
ACCOUNTS_DB_USER=accounts_user
ACCOUNTS_DB_PASSWORD=accounts_pass

TRANSFERS_DB_HOST=postgres-transfers
TRANSFERS_DB_PORT=5432
TRANSFERS_DB_HOST_PORT=5434
TRANSFERS_DB_NAME=transfers_db
TRANSFERS_DB_USER=transfers_user
TRANSFERS_DB_PASSWORD=transfers_pass
